body {
background-color: #F5F5F5;
color: #757575;
}
.list {
    list-style:none;
}
.logo {
    color: #000000;
}
.web {
    color: #2196F3;
}
/* site-nav */


/* Колір основного текста #212121 */
/* Вторинний колір текста #757575 */
/* Колір Логотипа #000000 */
/* Колір Логотипа #2196F3 */
/* Акцент #2196F3 */
/* Колір адреса #FFFFFF  rgba(255, 255, 255, 0.6) */
/* Вторинний колір фона #2F303A */
